.env
venv
/venv
Backend/.venv/

/Backend/main/migrations/

__pycache__
/__pycache__
/main/__pycache__
main/__pycache__
Backend/main/__pycache__/
/Backend/.env
/Backend/venv
Backend/algoview/__pycache__/
/Backend/__pycache__

/Backend/main/__pycache__

/Backend/localenv
/Frontend/node_modules
Frontend/node_modules
Backend/media/kyc_documents/
Backend/media/profile_pictures/
