.env
venv
/venv
myenv
/myenv
.envr
__pycache__
/__pycache__
/main/__pycache__
main/__pycache__
 main/__pycache__
 algoview/__pycache__/
 Backend/algoview/__pycache__/
Backend/algoview/__pycache__/
Backend/AlgoView-Devlopment/Backend/main/migrations/__pycache__/
Backend/AlgoView-Devlopment/Backend/main/__pycache__/
/localenv
algoview/__pycache__
# Ignore migration files
*/migrations/*
# logs/webhooks.log
cron_broker_log.log
cron_trading_error.log
cron_trading_log.log
logs/websocket_token_log.log
/media/
# Ignore logs
*.log
/logs/
 #  Backend/media/company_logos/*.png
# Ignore all PNG and JPG files in Backend/media folders (recursively)
Backend/media/strategy/**/*.png
Backend/media/strategy/**/*.jpg
Backend/media/strategy/**/*.jpeg
media/strategy/Strategy_Tester/*.jpg
Backend/media/company_logos/**/*.jpeg
Backend/media/company_favicon/*.png

Backend/media/kyc_documents/**/*.png
Backend/media/kyc_documents/**/*.jpg
Backend/media/kyc_documents/**/*.jpeg

Backend/media/profile_pictures/**/*.png
Backend/media/profile_pictures/**/*.jpg
Backend/media/profile_pictures/**/*.jpeg

Backend/media/company_logos/**/*.png
Backend/media/company_logos/**/*.jpg
Backend/media/company_logos/**/*.jpeg 
Backend/logs/
NFO.csv
ANGLE_NFO.csv

Backend/media/**/*.png
Backend/media/**/*.jpg
Backend/media/**/*.jpeg
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs
logs/webhooks.log
env/

*/migrations/*
!*/migrations/__init__.py
